<!DOCTYPE html5>
<html>
    <head>
    </head>
    <body>
        <h1>Teste</h1>
        <!-- TESTE2 <p>{{headline}}</p>  Chamando o headline que foi passado no python-->
       <!-- TESTE3 {%if novo_ano %}
            <p>Sim! Feliz Ano Novo!</p>
        {%else%}
            <h1>Não!!</h1>
        {%endif%}-->
        <!--TESTE 4 <h1>Nomes</h1>
        <ul>
            {%for name in names%}
                <li>{{name}}</li>
            {%endfor%}
        </ul>-->
        <a href="{{url_for('more')}}">Mostrar mais</a> <!--Falando que este link vai vale a route more
        e a route more equive um request de uma pagina html chamada more-->
    </body>
</html>