<html>
    <head></head>
    <body>
        <ul>
            {% for note in notes %}
                <li>{{note}}</li>
            {% endfor %}
        </ul>
        <form action="{{url_for('indexu')}}" method="post">
            <input type="text" name="note" placeholder="Insira uma nota!">
            <button>Enviar</button>
        </form>

        <!-- TESTE 6 <form action="{{url_for('hi')}}" method="post">
            <input type="text" name="nome" placeholder="Insira seu nome!">
            <button>Enviar</button>
        </form>-->
    </body>
</html>