<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <form action="{{url_for('livros')}}" method="post">
            <div class="form-group">
                <!--Lendo todos os vôos disponíveis -->
                <select name="flight_id" class="form-control">
                    {% for flight in flights %}
                        <option value="{{flight.id}}">{{flight.origin}}to{{flight.destination}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="form-group">
                <!--Inserindo a textbox para adcionar o nome do passagueiro a lista de vôo-->
                <input class="form-control" name="name" placeholder="Insira o nome do passageiro">
            </div>
            <div class="form-group">
                <button >adcionar passagueiro no vôo</button>
            </div>
    </body>
</html>